@using Microsoft.Extensions.Options;
@inject IOptionsSnapshot<AppSettings> _settings
@inject IHttpCaller Caller

<table class="table table-hover table-bordered">
    @foreach (var ad in Admissions)
    {
        <tr>
            <td>@ad.Name</td>
            <td>@ad.Father</td>
            <td>@ad.Mother</td>
            <td>@ad.NationalNumber</td>
            <td>@(ad.Accepted ? "Yes" : "No")</td>
            <td>@ad.AdmissionDate.ToShortDateString()</td>
            <td>
                <table>
                    @foreach (var at in ad.AttachmentFiles)
                    {
                        <tr>
                            <td> <a @onclick="@(ev=>TryDownload(at.Id))">@at.Name</a>  </td>
                        </tr>
                    }
                </table>
            </td>
        </tr>
    }
</table>

@code {
    [Parameter]
    public IEnumerable<AdmissionViewModel> Admissions { get; set; } = Enumerable.Empty<AdmissionViewModel>();

    async void TryDownload(int id)
    {
        var data = await Caller.Find<string>("AdmissionService/GetAttachment", id);
        File.WriteAllBytes(Path.GetTempFileName(), Convert.FromBase64String(data));
    }
}
